{% block _sidebar %}
<div class="sidebar" data-background-color="white" data-active-color="danger">

  <div class="sidebar-wrapper">
        <div class="logo">
            <a class="simple-text">
                Golfkort {{golfcourse_name}}
            </a>
        </div>

        <ul class="nav">
            {% if request.path == '/' %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
                <a href="{{url_for('main.index')}}">
                    <i class="fa fa-calendar-minus-o"></i>
                    <p>Golfkort</p>
                </a>
            </li>

            <li>
                <a href="{{url_for('auth.logout')}}">
                    <i class="fa fa-key"></i>
                    <p>Útskrá</p>
                </a>
            </li>
        </ul>

        <div class="logo">
        </div>

        <ul class="nav">
            {% if companies %}
            {% for comp in companies %}
              {% if comp.name == current_company %}
              <li class="active">
              {% else %}
              <li>
              {% endif %}
                  <a href="{{url_for('golfcourse.golfcourse', company=comp.name)}}">
                      <i class="fa fa-users "></i>
                      <p>{{comp.name}}</p>
                  </a>
              </li>
            {% endfor %}
            {% endif %}



        </ul>


  </div>
</div>

{% endblock %}
