{% extends "main/_base.html" %}
{% block main %}


<div class="row">

    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Lykilorð endursett</h4>
            </div>
            <div class="content">
                {% if error %}
                <p>{{ error }}</p>
                {% else %}
                <p>Endursett lykilorð hjá {{ name }} ({{ user_id }}) í <span style="font-weight: 700;">{{ password }}</span></p>
                {% endif %}
            </div>
        </div>
    </div>

</div>


{% endblock %}
