{% block _modals %}

<div class="modal fade" id="cardsleft" role="dialog">
  <div class="modal-dialog">
    <div class="card card-modal">
      <div class="content">
          <div class="row">
            <div class="text-center" id="cardsleft-date" value="">
              <h4 id="cardsleft-date-h4"></h4>
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-md-offset-3 col-md-6">
                  <div class="text-center card-show">

                      <ul id="cards-availible">

                      </ul>
                      <ul id="cards-notavailible" style="display: none;">
                        {% if cards_left > 0 %}
                          <p>Engin kort aðgengileg.</p>
                          <p>Ef þú ert þegar skráð/ur fyrir kortum, þá getur þú ekki skráð þig á annan dag fyrr en hin kortin hafa verið notuð.</p>
                          <p>Þú getur þó alltaf tekið frá kort á líðandi degi.</p>
                        {% else %}
                          <p>Engin kort aðgengileg.</p>
                          <p>Þú ert komin(n) yfir hámarksfjölda leyfilegra skráninga ársins og getur því ekki skráð kort fram í tímann. Þú getur þó enn tekið frá kort á líðandi degi. Gleðilegt golfsumar.</p>
                        {% endif %}
                      </ul>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <hr />
                  <div class="text-center">
                    <button type="submit" id="send-availible" class="btn btn-success btn-fill btn-wd btn-clean">Taka frá</button>
                    <button type="submit" onclick="$('#cardsleft').modal('toggle');" class="btn btn-warning btn-fill btn-wd btn-clean">Loka</button>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

<div class="modal fade" id="cardinfo" role="dialog">
  <div class="modal-dialog">
    <div class="card card-modal">
      <div class="content">
          <div class="row">
            <div class="text-center">
            </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-md-offset-3 col-md-6">
                  <div class="text-center card-show" id="cardinfo-id">
                      <h5 id="cardinfo-coursename"></h5>
                      <h5 id="cardinfo-date"></h5>
                      <h5 id="cardinfo-username"></h5>
                      <h5 id="cardinfo-number"></h5>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12">
                  <hr />
                  <div class="text-center">
                    <button type="submit" id="delete-golfcard" class="btn btn-danger btn-fill btn-wd btn-clean">Eyða</button>
                    <button type="submit" onclick="$('#cardinfo').modal('toggle');" class="btn btn-warning btn-fill btn-wd btn-clean">Loka</button>
                  </div>
              </div>
          </div>
        </div>
    </div>
  </div>
</div>

  {% endblock %}
