{% block _sidebar %}
<div class="sidebar" data-background-color="white" data-active-color="danger">

<!--
Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
-->

  <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://www.fuglar.com" class="simple-text">
                Golfkort Fugla
            </a>
        </div>

        <ul class="nav">
            {% if request.path == '/' %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
                <a href="{{url_for('main.index')}}">
                    <i class="fa fa-calendar-minus-o"></i>
                    <p>Golfkort</p>
                </a>
            </li>

            {% if request.path == '/profile' %}
            <li class="active">
            {% else %}
            <li>
            {% endif %}
                <a href="{{url_for('main.profile')}}">
                    <i class="fa fa-user"></i>
                    <p>Notandasnið</p>
                </a>
            </li>

            {% if user.get_role() == 'admin' %}
              {% if companies %}
              {% for comp in companies %}
                {% if '/c/' in request.path and comp.name in request.path %}
                <li class="active">
                {% else %}
                <li>
                {% endif %}
                    <a href="{{url_for('main.company', name=comp.name)}}">
                        <i class="fa fa-users "></i>
                        <p>{{comp.name}}</p>
                    </a>
                </li>
              {% endfor %}
              {% endif %}

            {% endif %}


            <li>
                <a href="{{url_for('auth.logout')}}">
                    <i class="fa fa-key"></i>
                    <p>Útskrá</p>
                </a>
            </li>


        </ul>
  </div>
</div>

{% endblock %}
