{% extends "main/_base.html" %}
{% block main %}


<div class="row">


    <div class="col-md-6">
        <div class="card">
            <div class="header">
                <h4 class="title">Golfvellir</h4>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nafn</th>
                            <th>Stutt nafn</th>
                            <th>Litur</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for gc in golfcourses %}
                        <tr style="color: {{gc.color}};">
                          <td>{{gc.name}}</td>
                          <td>{{gc.shortname}}</td>
                          <td>{{gc.color}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
            <!--
            <div class="header">
                <h4 class="title">Bæta við golfvelli</h4>
            </div>
            <div class="content">
                <form action="{{url_for('admin.golfcourse_add', name=path)}}"  method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Nafn golfvallar</label>
                                <input type="text" class="form-control border-input" name="name">
                            </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Stutt nafn (einkvæmur til að uppfæra)</label>
                                <input type="text" class="form-control border-input" name="shortname">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Litir í hex</label>
                                <input type="text" class="form-control border-input" name="color">
                            </div>
                        </div>
                    </div>


                    <div class="text-center">
                        <button type="submit" class="btn btn-success btn-fill btn-wd">Uppfæra/Bæta við</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>

            <div class="header">
                <h4 class="title">Eyða golfvelli</h4>
            </div>
            <div class="content">
                <form action="{{url_for('admin.golfcourse_delete', name=path)}}"  method="POST">
                      <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Stutt nafn (einkvæmur til að uppfæra)</label>
                                <input type="text" class="form-control border-input" name="shortname">
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-danger btn-fill btn-wd">Eyða</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
            -->
      </div>








      <div class="col-md-6">
          <div class="card">
              <div class="header">
                  <h4 class="title">Golfkort</h4>
              </div>
              <div class="content table-responsive table-full-width">
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>Stutt nafn</th>
                              <th>Numer</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for gca in golfcards %}
                          <tr style="color: {{gca.color}};">
                            <td>{{gca.shortname}}</td>
                            <td>{{gca.number}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>

              </div>
              <!--
              <div class="header">
                  <h4 class="title">Bæta við golfkorti</h4>
              </div>
              <div class="content">
                  <form action="{{url_for('admin.golfcard_add', name=path)}}"  method="POST">
                        <div class="row">
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Stutt nafn golfvallar</label>
                                  <input type="text" class="form-control border-input" name="shortname" required>
                              </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group">
                                  <label>Numer korts</label>
                                  <input type="text" class="form-control border-input" name="number" required>
                              </div>
                          </div>
                      </div>

                      <div class="text-center">
                          <button type="submit" class="btn btn-success btn-fill btn-wd">Uppfæra/Bæta við</button>
                      </div>
                      <div class="clearfix"></div>
                  </form>
              </div>


              <div class="header">
                  <h4 class="title">Eyða golfkorti</h4>
              </div>
              <div class="content">
                  <form action="{{url_for('admin.golfcard_delete', name=path)}}"  method="POST">
                    <div class="row">
                      <div class="col-md-6">
                          <div class="form-group">
                              <label>Stutt nafn golfvallar</label>
                              <input type="text" class="form-control border-input" name="shortname" required>
                          </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group">
                              <label>Numer korts</label>
                              <input type="text" class="form-control border-input" name="number" required>
                          </div>
                      </div>
                  </div>

                      <div class="text-center">
                          <button type="submit" class="btn btn-danger btn-fill btn-wd">Eyða</button>
                      </div>
                      <div class="clearfix"></div>
                  </form>
              </div>
              -->
          </div>
        </div>







        <div class="col-md-6">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Listi yfir alla notendur</h4>
                  </div>
                  <div class="content table-responsive table-full-width">
                      <table class="table table-striped">
                          <thead>
                              <tr>
                                    <th>Einkvæmur lykill</th>
                                    <th>Nafn</th>
                                    <th>Netfang/provider_id</th>
                                	<th>Stjórnandi</th>
                                	<th>Aðangur</th>
                                	<th>Kort eftir</th>
                                	<th>Hámarks fjöldi korta</th>
                              </tr>
                          </thead>
                          <tbody>
                              {% for u in users %}
                              <tr>
                                <td>{{u.id}}</td>
                                <td>{{u.name}}</td>
                                <td>{{u.email}}</td>
                                <td>{{u.company}}</td>
                                {% if u.role == 0 %}
                                  <td>x</td>
                                {% else %}
                                  <td></td>
                                {% endif %}
                                <td>{{u.cards_left}}</td>
                                <td>{{u.max_cards}}</td>

                              </tr>
                              {% endfor %}
                          </tbody>
                      </table>

                  </div>
              </div>
          </div>




    <div class="col-md-3">
        <div class="card">
            <div class="header">
                <h4 class="title">Endursetja lykiorð hjá notanda</h4>
            </div>
            <div class="content">
                <form action="{{url_for('admin.reset_password')}}" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Einkvæmur lykill notanda</label>
                                <input type="text" class="form-control border-input" name="user_id">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Nafn</label>
                                <input type="text" class="form-control border-input" name="name">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Netfang</label>
                                <input type="text" class="form-control border-input" name="email">
                            </div>
                        </div>
                    </div>
            
                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">Endursetja lykilorð</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="card">
            <div class="header">
                <h4 class="title">Breyta hámarksfjölda korta hjá notanda</h4>
            </div>
            <div class="content">
                <form action="{{url_for('admin.update_card_count')}}" method="POST">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Notanda lykill</label>
                                <input type="text" class="form-control border-input" name="user_id">
                            </div>
                        </div>
                    </div>
            
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Fjöldi korta</label>
                                <input type="number" class="form-control border-input" name="count">
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="submit" class="btn btn-info btn-fill btn-wd">Breyta fjölda korta</button>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

    <!--
    <div class="col-md-6">
          <div class="card">
              <div class="header">
                  <h4 class="title">Warning log</h4>
                  <p class="category">Table shows all warnings</p>
              </div>
              <div class="content table-responsive table-full-width">
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>ID</th>
                            	<th>Location</th>
                            	<th>Date</th>
                            	<th>Message</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for ew in errorswarning %}
                          <tr>
                            <td>{{ew.id}}</td>
                            <td>{{ew.location}}</td>
                            <td>{{ew.date}}</td>
                            <td>{{ew.error_message}}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>

              </div>
          </div>
      </div>

      <div class="col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Error log</h4>
                    <p class="category">Table shows all errors</p>
                </div>
                <div class="content table-responsive table-full-width">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>ID</th>
                              	<th>Location</th>
                              	<th>Date</th>
                              	<th>Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for ew in errors %}
                            <tr>
                              <td>{{ew.id}}</td>
                              <td>{{ew.location}}</td>
                              <td>{{ew.date}}</td>
                              <td>{{ew.error_message}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    -->



</div>


{% endblock %}
