{% extends "main/_base.html" %}
{% block main %}

<div>
    <div class="row">

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Upplýsingar um notanda</h4>
                </div>
                <div class="content">
                    <form action="{{url_for('main.profile')}}" method="POST">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Fyrirtæki <span class="profile-info">(nafn á fyrirtækinu sem þú vinnur
                                            hjá)</span></label>
                                    <input type="text" class="form-control border-input input-clean" name="company"
                                        placeholder="Company" value="{{user.company}}">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Stutt nafn <span class="profile-info">(nafn sem sést á golfkorti, hámark 10
                                            stafir)</span></label>
                                    <input type="text" class="form-control border-input input-clean" name="displayname"
                                        placeholder="Display name" value="{{user.displayname}}">
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-success btn-fill btn-wd btn-clean">Uppfæra upplýsingar</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>

            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="card">
                <div class="header">
                    <h4 class="title">Skipta um lykilorð</h4>

                    {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-danger">
                            <button type="button" aria-hidden="true" class="close">×</button>
                            <span><b> Villa - </b> {{ message }}</span>
                        </div>
                        {% endfor %}
                    {% endif %}
                    {% endwith %}
                </div>
                <div class="content">
                    <form action="{{url_for('auth.change_password')}}" method="POST">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Núverandi lykilorð </label>
                                    <input class="form-control border-input input-clean" name="pw" type="password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nýtt lykilorð</label>
                                    <input class="form-control border-input input-clean" name="pw1" type="password">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label>Nýtt lykilorð aftur</label>
                                    <input class="form-control border-input input-clean" name="pw2" type="password">
                                </div>
                            </div>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-info btn-fill btn-wd btn-clean">Uppfæra lykilorð</button>
                        </div>
                        <div class="clearfix"></div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock %}
